@import '../variables';

@keyframes animateIconIn {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
  }
}

.SearchResult {
  display: none;
  font-size: 15px;
  padding: 32px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 2px;

  &__heading {
    font-size: 24px;
    font-weight: 200;
  }

  &__subheading {
    margin-top: 8px;
  }

  &__orgContainer {
    margin-top: 24px;
  }

  &__content {
    display: inline-block;
  }

  &__icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: $green;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    color: #fff;
    text-align: center;
    font-size: 32px;

    > span {
      transition: all 400ms $bounce 100ms;
      display: block;
      transform: translateY(11px)
    }
  }

  &__org {
    display: inline-block;
  }

  &__orgName {
    font-weight: bold;
  }
}

.SearchResult--loading {
  display: block;

  .SearchResult__icon {
    background: #ddd;

    > span {
      opacity: 0;
      transform: translateY(22px);
    }
  }

  .SearchResult__subheading {
    color: transparent;
    background: transparent;
    border-radius: 12px;
  }

  .SearchResult__orgName {
    color: transparent;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 88%;
      height: 18px;
      background: #aaa;
      border-radius: 12px;
    }
  }

  .PopOverLink__text {
    color: transparent;
    position: relative;
    border-color: transparent;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 88%;
      height: 12px;
      background: #ddd;
      border-radius: 12px;
    }
  }

  .SearchResult__org > p {
    color: transparent;
    position: relative;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 88%;
      height: 12px;
      background: #ddd;
      border-radius: 12px;
    }

    &:after {
      width: 76%;
      top: 20px;
    }
  }
}

.SearchResult--visible {
  display: block;

  &__icon {
    animation: animateIconIn 300ms $bounce;
  }
}

.SearchResult--notFound {
  .SearchResult__icon {
    background: #ddd;
  }
}
