@import "../variables";

.FormIntro {
  font-size: 16px;
  color: $smoke;
  padding-bottom: 36px;
  line-height: 1.45;

  h1 {
    font-family: "Amatic SC", "amatic", lato, helvetica, arial, sans-serif;
    font-size: 64px;
    font-weight: normal;
    color: $charcoal;
    margin: 12px 0;
    line-height: 1;
  }
}
