// Colours
// -----------------------------------
$green: #01a044;
$lightGreen: #7EC775;
$cream: #fdfcf7;
$charcoal: #585858;
$smoke: #8E8E8E;
$red: #FF6347;
$yellow: #ffbe40;

// Easing
// -----------------------------------
$bounce: cubic-bezier(0.5, -0.5, 0.25, 1.5)
